services:
  server:
    image: "rancher/k3s:v1.32.4-k3s1"
    container_name: k3s-server
    hostname: k3s-server
    command:
      - server
      - --tls-san=kubeapi.tokhirov.uz
      - --secrets-encryption
    restart: unless-stopped
    privileged: true
    environment:
      - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
      - K3S_KUBECONFIG_MODE=666
    ports:
      - "80:80"
      - "443:443"
      - "6443:6443"
      - "5432:5432"
    volumes:
      - k3s-server:/var/lib/rancher/k3s
      - ./k3s-server-output:/output

volumes:
  k3s-server:
