apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik-ingress
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`auth.tokhirov.uz`)
      services:
        - name: authentik-server
          port: 80
  tls:
    certResolver: letsencrypt
