apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    image:
      repository: docker.io/library/traefik
      tag: 3.3.5

    globalArguments:
      - "--api=true"

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.tokhirov.uz`)
        entryPoints:
          - "websecure"
        middlewares:
          - name: traefik-dashboard-auth
        tls:
          certResolver: letsencrypt

    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https

    service:
      spec:
        externalTrafficPolicy: Local

    extraObjects:
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: traefik-dashboard-auth
        spec:
          basicAuth:
            secret: traefik-dashboard-auth-secret

    {{- if .Values.enableLetsEncrypt }}
    certificatesResolvers:
      letsencrypt:
        acme:
          #caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
          email: d_letsencrypt7289@tokhirov.uz
          storage: /data/acme.json
          tlsChallenge: true
    {{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth-secret
data:
  users: {{ .Values.adminCredentials }}
