apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: tailscale-ingress-only
spec:
  ipAllowList:
    sourceRange:
      - 10.42.0.0/16
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: healthchecks-ingressroute
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`hc.tokhirov.uz`)
      services:
        - name: healthchecks
          port: http
      middlewares:
        - name: tailscale-ingress-only
  tls:
    certResolver: letsencrypt
